# Swift Package Manager
.build/
.swiftpm/
*.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.xcscmblueprint
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editors
.vscode/
*.swp
*~
